@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* variables */

:root {
  font-size: 62.5%;
  --white: #fff;
  --gray-100: #f7fafc;
  --gray-200: #eff2f4;
  --gray-300: #dee2e7;
  --gray-500: #8b96a5;
  --orange-100: #ff7612;
  --orange-300: #ff001f;
  --pink: #ffe3e3;
  --pink-dark: #ec183b;
  --brown: #f38332;
  --blue-300: #55bdc3;
  --gradient: linear-gradient(50%, #fa3434, #ffc700);
  --weight-500: 500;
  --text-dark: #1c1c1c;
  --divider: 1.8px solid var(--gray-200);
  --text-lg: 2rem;
  --text-md: 1.5rem;
  --text-sm: 1rem;
  --width: 1000px;
}
body {
  background: var(--gray-100);
  font-family: 'Poppins', sans-serif;
}
img {
  width: 100%;
}

/* utilities */
.logo{
  width: 200px;
}
.icon {
  font-size: 1.8rem;
}
.flex-center {
  display: flex;
  align-items: center;
}
.gap-0 {
  gap: 0.5em;
}
.container {
  width: var(--width);
  margin: 0 auto;
}
.shade-text {
  color: var(--gray-500);
  font-size: var(--text-sm);
  font-weight: 600;
}
.hide-desktop {
  display: none;
}

/* Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  z-index: 99;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--divider);
  padding: 1em;
  width: var(--width);
  margin: 0 auto;
}
nav a {
  font-size: var(--text-lg);
  color: var(--text-dark);
  font-weight: 700;
}
#search-form {
  display: flex;
}
.search-wrapper {
  display: flex;
  align-items: center;
  background: #fcfcfc;
  border: 2px solid var(--gray-200);
  border-right: 0;
  position: relative;
  border-radius: 5px 0 0 5px;
  /* padding: 8px;
    border: none; */
}
#search {
  border: none;
  padding: 5px;
  outline: none;
  background: inherit;
  width: 250px;
  font-size: 1.2rem;
  border-right: var(--divider);
}
#search-category {
  border: none;
  outline: none;
  background: inherit;
}
#search-btn {
  border: none;
  background: inherit;
  padding: 5px 35px;
  border-left: var(--divider);
  background: linear-gradient(to top, var(--orange-300), var(--pink-dark));
  color: var(--white);
  border-radius: 0 5px 5px 0;
}
.nav-icons {
  display: flex;
  gap: 2em;
}
.nav-icons div {
  text-align: center;
}
.nav-icons img {
  width: 16px;
  height: 16px;
}

.secondary-nav {
  /* padding: 1.1em 12%; */
  width: var(--width);
  margin: 0 auto;
  padding: 1.1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  
}
.secondary-nav a {
  background: linear-gradient(to top, var(--orange-300), var(--pink-dark));
  color: var(--text-dark);
  font-size: 1.2rem;
  font-weight: var(--weight-500);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}


/* Main */

.main {
  margin-top: 12em!important;
  background: var(--white);
  border: 1.4px solid #f2f2f2;
  padding: 1em;
  border-radius: 5px;
}
main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  column-gap: 2em;
}
.filters {
  display: flex;
  flex-direction: column;
}
.filters a {
  font-size: 1.3rem;
  line-height: 1.936rem;
  padding: 5px 8px;
  color: var(--text-dark);
}
.active {
  background: var(--pink);
  border-radius: 3px;
}
.banner {
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 0 0 5%;
  /* filter: brightness(.5); */
}
.banner p,
.banner h1 {
  font-size: 2.2rem;
}
.banner a {
  background: var(--white);
  padding: 8px 15px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1em;
  color: var(--text-dark);
  font-size: 1.3rem;
}
/* Profile */

.profile {
  display: grid;
  grid-template-rows: repeat(1fr);
  row-gap: 1em;
}
.auth {
  background: var(--pink);
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  /* height: max-content; */
}
.auth img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.auth p {
  font-size: 1.15rem;
}
#join,
#login {
  display: inline-block;
  margin-top: 1em;
  background: linear-gradient(to right, var(--orange-300), var(--pink-dark));
  width: 100%;
  padding: 3px 0;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  font-size: 1.3rem;
}
#login {
  background: var(--white);
  color: var(--orange-100);
  margin-top: 0.5em;
}
.box {
  padding: 1em;
  border-radius: 5px;
  font-size: 1.3rem;
  color: var(--white);
}
.box.brown {
  background: var(--brown);
}
.box.blue {
  background: var(--blue-300);
}


/* Sale */

.sale-section {
  margin-top: 2.5em;
  background: var(--white);
  border-radius: 5px;
}
.sales {
  display: grid;
  grid-template-columns: 20% auto;
  /* column-gap: 2em; */
}
.timestamps {
  border-right: var(--divider);
  padding: 1.5em;
}
.timestamps h2 {
  font-size: 1.6rem;
}
.timestamp {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}
.timer {
  padding: 0.5em;
  background: var(--gray-500);
  text-align: center;
  border-radius: 5px;
}
.timer p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}
.timer span {
  color: #f2f2f2;
}
.products.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.04em;
}
.product.col {
  text-align: center;
  padding: 2em 1em;
  border-right: var(--divider);
}
.product.col img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  /* mix-blend-mode: multiply; */
}
.product-label {
  font-size: 1.15rem;
  margin-top: 1em;
}
.discount {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--pink);
  padding: 3px 10px;
  color: red;
  font-weight: 600;
  margin-top: 0.7em;
}


/* Product Categories */

.product-categories,
.services {
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: 20% auto;
  /* max-height: 1000px; */
}
.product-banner-left {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/drug-banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.3em;
  border-radius: 5px 0 0 5px;
}
.product-banner-left h2,
.service-banner-left h2 {
  font-size: var(--text-md);
  font-weight: 900;
  width: 80px;
}
.product-banner-left a,
.service-banner-left a {
  color: var(--text-dark);
  display: inline-block;
  margin-top: 1em;
  background: var(--white);
  padding: 8px 15px;
  border-radius: 5px;
  font-size: var(--text-sm);
}
.product-categories-list,
.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--white);
  border-radius: 5px;
}
.product-category,
.service {
  display: flex;
  gap: 1em;
  padding: 1.5em;
  border-top: var(--divider);
  border-bottom: var(--divider);
  border-right: var(--divider);
}
.product-category p,
.service p {
  font-size: var(--text-sm);
  font-weight: 600;
}
.product-category img,
.service img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Services */

.service-banner-left {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.3em;
  border-radius: 5px 0 0 5px;
}

/* Inquiry */

.inquiry {
  margin-top: 2.5em;
  background: linear-gradient(90deg, rgba(255, 0, 31, .8)
  , rgba(255, 118, 18, .6) 30%), url("../images/drug-banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.inquiry-left {
  max-width: 300px;
  color: var(--white);
}
.inquiry-left h1 {
  font-size: var(--text-lg);
  margin-bottom: 1em;
}
.inquiry-left span {
  font-size: var(--text-sm);
}
.form-container {
  background: var(--white);
  padding: 1.5em;
  border-radius: 5px;
}
.form-container input, textarea {
  width: 100%;
  display: inline-block;
  margin: 0.4em 0;
  outline: none;
  border: var(--divider);
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.form-container input {
  margin-top: 1.2em;
}
.form-container textarea {
  min-height: 30px;
}
.form-container button {
  background: linear-gradient(to top, var(--orange-300), var(--orange-100));
  color: var(--white);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1em;
}
.quantity {
  margin-top: 1em;
  gap: 1.5em;
}
.quantity p {
  font-size: var(--text-sm);
}
.quantity select {
  padding: 2px 8px;
}

/* Recommended */

.recommended {
  margin-top: 2.5em;
}
.recommended h2,
.extra-services h2 {
  font-size: var(--text-md);
  font-weight: 600;
}
.recommended-items-list {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}
.recommended-item {
  background: var(--white);
  padding: 1.2em;
  border: 2px solid var(--gray-200);
  border-radius: 5px;
}
.recommended-item img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.recommended-item p {
  margin-top: 2em;
  font-weight: 700;
  /* letter-spacing: 1.5px; */
}

/* Extra Services */

.extra-services {
  margin-top: 2.5em;
}
.extra-services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.5em;
  column-gap: 1.5em;
}
.extra-service {
  background: var(--white);
  border-radius: 5px;
}
.extra-service img {
  height: 100px;
  object-fit: cover;
  filter: brightness(.75);
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}
.extra-service p {
  margin: 1.5em;
  font-weight: 600;
  font-size: var(--text-sm);
}

/* Newsletter */

.newsletter {
  margin-top: 3em;
  background: var(--gray-200);
  padding: 5em;
  text-align: center;
}
.newsletter-wrapper h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.newsletter-wrapper p {
  font-weight: 500;
}
.form-input-icon {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.5em 1.2em;
  border-radius: 5px;
  background: var(--white);
  width: max-content;
  /* margin: 0 auto; */

}
.form-input-icon input {
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.form-flex {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
#newsletter-btn {
  background: linear-gradient(to top, var(--orange-300), var(--orange-100));
  color: var(--white);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: var(--text-sm);
}

/* Footer */

footer {
  background: var(--white);
}
.primary-footer {
  padding: 3em 0;
  width: var(--width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.local a {
  font-size: var(--text-md);
  font-weight: 600;
  color: var(--text-dark);
}
.local p {
  margin-top: 2em;
  width: 200px;
  font-size: var(--text-sm);
  font-weight: 500;
}
.local div {
  margin-top: 2em;
}
.footer-col h4 {
  font-size: var(--text-sm);
  font-weight: 900;
}
.footer-col .links {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  gap: 0.5em;
}
.footer-col .links a {
  color: var(--gray-500);
  font-size: var(--text-sm);
  font-weight: 500;
  width: max-content;
}
.secondary-footer {
  /* padding: 1.5em 12%; */
  background: var(--gray-200);
}
.secondary-footer .content {
  padding: 1.5em;
  width: var(--width);
  margin: 0 auto;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar:horizontal {
  height: 1.5px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(--orange-300), var(--orange-100));
}


/* Breakpoints */

@media only screen and (max-width: 1342px) {
  body {
    --width: 800px;
  }
  #search {
    width: 100%;
  }
  .filters a {
    font-size: 1.1rem;
  }
  .timer {
    padding: 0.3em;
  }
  .timer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1055px) {
  body {
    --width: initial;
  }
  .container {
    width: var(--width);
    margin: 0 3em;
  }
  nav {
    width: var(--width);
    padding: 1em 3em;
  }
  .secondary-nav {
    width: var(--width);
    padding: 1em 3em;
  }
  .sale-section,
  .product-categories,
  .services,
  .inquiry,
  .recommended,
  .extra-services {
    margin-top: 2.5em;
  }
  .primary-footer {
    padding: 3em;
  }
  .secondary-footer .content {
    padding: 1.5em 3em;
  }
}

/* Mobile */

@media only screen and (max-width:768px) {
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: initial;
  }
  .recommended-items-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin: 0 2em;
  }
  .sale-section,
  .product-categories,
  .services,
  .inquiry,
  .recommended,
  .extra-services {
    margin-top: 2.5em;
  }
  nav {
    padding: 1em 2em;
  }
  #search-container {
    display: none;
  }
  .secondary-nav {
    width: 100%;
    padding: 1.5em 2em;
    overflow-x: auto;
  }
  .secondary-nav a {
    white-space: nowrap;
    padding: 0.3em 0.7em;
    background: var(--pink-dark);
    color: var(--white);
    border-radius: 5px;
    /*background: #f5ba72;*/
  }
  .slide-nav {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    background: var(--gray-100);
    transition: .2s linear;
  }
  .user-auth {
    background: var(--gray-200);
    padding: 2em;
  }
  .user-auth img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .auth-links {
    display: flex;
    gap: 1.5em;
    margin-top: 1.5em;
  }
  .auth-links a {
    font-size: 1.2rem;
    color: var(--gray-500);
    font-weight: 600;
  }
  .main-links {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .main-links a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-500);
    display: flex;
    align-items: center;
    gap: 1em;
    width: max-content;
  }
  .main {
    padding: 0;
    border-radius: 0;
    margin: 0!important;
    margin-top: 15em!important;
  }
  main {
    display: block;
  }
  .banner {
    height: 250px;
  }
  .filters,
  .profile {
    display: none;
  }
  .sales {
    grid-template-columns: 1fr;
  }
  .timestamps {
    display: flex;
    justify-content: space-between;
  }
  .timestamp {
    margin-top: 0;
  }
  .products.row {
    display: flex;
    overflow: auto;
  }
  .services,
  .product-categories {
    grid-template-columns: 1fr;
  }
  .services-list,
  .product-categories-list {
    /* use any of the two depending in the type of layout you want. */
    /*grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    overflow: auto;
  }
  .product-banner-left,
  .service-banner-left {
    height: 200px;
    border-radius: 0;
  }
  .inquiry {
    flex-direction: column;
    gap: 4em;
    padding: 1em;
  }
  .extra-services-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5em;
  }
  .form-input-icon input {
    width: 100%;
  }
  .primary-footer {
    flex-direction: column;
    gap: 2em;
    padding: 2em;
  }
  .secondary-footer .content {
    padding: 1.5em 2em;
  }
}